<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SteamMarketEntities" connectionString="metadata=res://*/steam-model.csdl|res://*/steam-model.ssdl|res://*/steam-model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M0PO2JI\SQLEXPRESS;initial catalog=Steam-CS2Market;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesKIP" connectionString="metadata=res://*/steam-model-kip.csdl|res://*/steam-model-kip.ssdl|res://*/steam-model-kip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bd-kip.fa.ru;initial catalog=Steam-CS2Market;user id=sa;password=1qaz!QAZ;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>